<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css">
    <title>Invoice</title>
</head>
<body>
<div class="content"><!-- title row -->
<div class="row">
    <div class="col-xs-12">
        <h2 class="page-header">
            <i class="fa fa-globe"></i> MOST App, Inc.
            <small class="pull-right">Date: <%=html.moment(new Date()).format("L")%></small>
        </h2>
    </div><!-- /.col -->
</div>
<!-- info row -->
<div class="row invoice-info">
    <div class="col-sm-4 invoice-col">
        From
        <address>
            <strong>MOST App, Inc.</strong><br>
            60 Blue Ave, Suite 100<br>
            San Francisco, CA 10107<br>
            Phone: (804) 000-5400<br>
            Email: info@example.com
        </address>
    </div><!-- /.col -->
    <div class="col-sm-4 invoice-col">
        To
        <address>
            <strong><%=data.customer.description%></strong><br>
            <%=data.customer.address.streetAddress%><br>
            <%=data.customer.address.addressLocality%> <%=data.customer.address.postalCode%>, <%=data.customer.address.addressCountry%><br>
            Phone: <%=data.customer.address.telephone%><br>
            Email: <%=data.customer.email%>
        </address>
    </div><!-- /.col -->
    <div class="col-sm-4 invoice-col">
        <b>Invoice #<%=data.orderNumber%></b><br>
        <br>
        <b>Order ID:</b> <%=data.orderNumber%><br>
        <b>Payment Due:</b> <%=html.moment(data.paymentDue).format('L')%><br>
        <b>Order Status: <%=data.orderStatus.name%></b>
    </div><!-- /.col -->
</div><!-- /.row -->

<!-- Table row -->
<div class="row">
    <div class="col-xs-12 table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Qty</th>
                <th>Product</th>
                <th>Serial #</th>
                <th>Category</th>
                <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td><%=data.orderedItem.name%></td>
                <td><%=data.orderedItem.model%></td>
                <td><%=data.orderedItem.category%></td>
                <td class="text-right"><%=data.orderedItem.price%></td>
            </tr>

            </tbody>
        </table>
    </div><!-- /.col -->
</div><!-- /.row -->
    <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">

        </div><!-- /.col -->
        <div class="col-xs-6">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th style="width:50%">Subtotal:</th>
                        <td class="text-right"><%=html.numeral(data.orderedItem.price).format('0.00')%></td>
                    </tr>
                    <tr>
                        <th>Tax (23%)</th>
                        <td class="text-right"><%= html.numeral(data.orderedItem.price*0.23).format('0.00')%></td>
                    </tr>
                    <tr>
                        <th>Shipping:</th>
                        <td class="text-right"><%=html.numeral(0).format('0.00')%></td>
                    </tr>
                    <tr>
                        <th>Total:</th>
                        <td class="text-right"><%= html.numeral(data.orderedItem.price + (data.orderedItem.price*0.23)).format('0.00')%></td>
                    </tr>
                </table>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>
</body>
</html>